/* 1. PRIMERO LAS IMPORTACIONES DE FUENTES (Regla de oro) */
@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/600.css';
@import '@fontsource/montserrat/700.css';

/* 2. LUEGO LAS DIRECTIVAS DE TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. NUESTROS ESTILOS GLOBALES BASE */
body {
  background-color: #11051F;
  color: #FFFFFF;
  overflow-x: hidden;
}

/* Borramos todo lo demás (.counter, .hero, etc.) porque usamos Tailwind */